billgrid{
  font-weight:bold;
}

.cell{
  border:1px solid black;
  background-color: white;
  color: #356d91;
}

.billgridTitle .cell{
  text-align:center;
  background-color: #356d91;
  color:white;
}

.text{
  float:left;
  clear:left;
  text-align:left;
}

.price{
  float:left;
  text-align:right;
}
