billgrid{
  font-weight:bold;
}

.cell{
  /*border:1px solid white;*/
  /*background-color: rgba(92, 203, 64, 0.74);;*/
  color: #356d91;
}

.billgridTitle .cell{
  /*text-align:center;*/
  /*background-color: #356d91;*/
  /*color:white;*/
}

.text{
  float:left;
  clear:left;
  text-align:left;
}

.price{
  float:left;
  text-align:center;
}
