.header #title{
  cursor:pointer;
  height:218px;
  width: 990px;
  font-weight:bold;

  font-size:85px;
  display: inline-block;
  /*background-image:url(../images/head.png);*/
  background-size:990px 248px;
  font-family: allura;
  line-height: 208px;

}


#menu{

  display:inline-block;
}

#menu .item{
  /*position:absolute;*/
  padding-left:15px;
  padding-right:15px;
  margin-left:60px;
  font-size:18px;
  float:left;
}

#seItems{
  z-index:2;
  width:350px;
  position:absolute;
  left:948px;
  top:290px;
  text-align:center;
}
#seItems .item{
  width:350px;
  display:inline-block;
  float:left;
  clear:left;
  text-align:center;
  padding:0;
  margin:0;
}

#seItems .item:hover{
  text-decoration : underline;
  cursor:pointer;
}


.header{
  margin-top:10px;
  text-align:center;
}

#contactBubble{
  background-color: rgba(226, 255, 146, 1);
  position:absolute;
  width:500px;
  left:1350px;
  top:300px;
  z-index:2;
}

#contactBubble #closeContact{
  cursor :pointer;
  left:450px;
  position:absolute;
  border:1px solid black;
  width:25px;
  height:25px;
}

#contactTextArea{
  padding:5px;
  clear:left;
  float:left;
  width:300px;
  height:100px;
  font-size:15px;
  border-radius:25px 25px 25px 25px;
  margin-left:21px;
}

#contactButton{
  margin-left:10px;
  margin-top:35px;
  float:left;
  font-size:20px;
  height:30px;
  width:100px;
}

#messageContact{
  margin-top:20px;
}



/*#me{*/
  /*top: 450px;*/
  /*left: 133px;*/
/*}*/

/*#math{*/
  /*top: 363px;*/
  /*left: 247px;*/
/*}*/

/*#se{*/
  /*top: 280px;*/
  /*left: 520px;*/
/*}*/

/*#photos{*/
  /*top: 200px;*/
  /*left: 680px;*/
/*}*/
