body{
  height:1080px;
  width:1920px;
  background-image:url(../images/background.jpg);
  background-size:100% 90%;
  color: #345e7f;
  overflow: hidden;
  font-size:20px;
  font-family: Arial;
}

.container{
  top:0px;
  left:0px;
  position:absolute;
  width:1920px;
  height:1080px;
}

#content{
  text-align:center;
}

#text{
  height:100px;
  width:100px;
}

.header{
  margin-top:10px;
  text-align:center;
}

.hide{
  display:none;
}

#menu{
  display:inline-block;
}

#menu .item{
  padding-left:15px;
  padding-right:15px;
  margin-left:60px;
  font-size:20px;
  float:left;
}

#seItems{
  width:350px;
  position:absolute;
  left:948px;
  top:400px;
  text-align:center;
}
#seItems .item{
  width:350px;
  display:inline-block;
  float:left;
  clear:left;
  text-align:center;
  padding:0;
  margin:0;
}

#seItems .item:hover{
  text-decoration : underline;
  cursor:pointer;
}

.header #title{
  cursor:pointer;
  height:325px;
  width: 1418px;
  font-weight:bold;

  font-size:50px;
  display: inline-block;
  background-image:url(../images/head.png);
  line-height: 305px;

}

.footer #contact{
  width:150px;
  position:absolute;
  bottom:0%;
  margin-bottom:25px;
  left:10px;
}

.bubble{
    border:2px solid white;
    border-radius:20px 20px 20px 20px;
    background-color: rgba(226, 255, 146, 0.65);
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
    box-shadow:1px 1px 20px black;
}

.bubble.link{
  text-decoration : underline;
  cursor:pointer;
  box-shadow:10px 1px 20px black;
  font-weight:bold;
  color: #334dc6;
}

.bubble.link:after{
  position:absolute;
  margin-top:-40px;
  margin-left:-20px;
  width:60px;
  height:60px;
  content:"";
  background-image:url(../images/butter.png);
  background-size:60px 60px;
}

.bubble.link:hover{
  background-color: rgba(226, 255, 146, 0.95);
  box-shadow:10px 1px 50px #008721;
}


/*#########################

PAGE

##########################
*/
.mainPage{
  text-align:center;
}

.mainPage #description{
  margin-top:70px;
  display:inline-block;
  text-align:center;
  width:1000px;
  font-weight:bold;
  line-height:70px;
  padding-left:15px;
  padding-right:15px;
  font-size:25px;
}

.mainPage #me{
  position:absolute;
  width:200px;
  display:inline-block;
  margin-left:-350px;
  margin-top:80px;
}

.mainPage #math{
  position:absolute;
  width:200px;
  display:inline-block;
  margin-left:200px;
  margin-top:160px;
}

.mainPage #se{
  position:absolute;
  width:200px;
  display:inline-block;
  margin-left:-350px;
  margin-top:240px;
}

.mainPage #photos{
  position:absolute;
  width:200px;
  display:inline-block;
  margin-left:200px;
  margin-top:320px;
}


