.mathPage{
  text-align:center;
}

#maquillagegrid{
  position:absolute;
  top: 531px;
  left: 892px;
}

#tatouagegrid{
  position:absolute;
  top:750px;
  left: 892px;
}

#maquillage{
  padding-left:15px;
  padding-right:15px;
  margin-top:25px;
  text-align:center;
  display:inline-block;
  width:1000px;
}
.maquillageTitle{
  font-weight:bold;
  font-size:25px;
}

#tatoo{
  margin-top:100px;
  padding-left:15px;
  padding-right:15px;
  text-align:center;
  display:inline-block;
  width:900px;
}
.tatooTitle{
  font-weight:bold;
  font-size:25px;
}

.mathPage #photo{
    position:absolute;
    top:400px;
    left:1200px;
    width:200px;
}

.mathPage #event{
  position:absolute;
  top:760px;
  left:500px;
  width:200px;
}


