
.mePage{
  text-align:center;
}
.meDesc{
  padding-left:10px;
  padding-right:10px;
  margin-top:80px;
  text-align:left;
  display:inline-block;
  width:1000px;
  height:285px;
}

.meDesc #content{
  position:absolute;
  width:1000px;
  height:285px;
}

#meBill{
  /*position:absolute;*/
  display:inline-block;
  /*left:892px;*/
  /*top:650px;*/
}

#photo{
    width:200px;
}

#event{
    width:100px;
}

.mephoto{
  position:absolute;
  //background-image:url(../images/photome.png);
  width:1000px;
  height:500px;
  opacity:0.35;
  background-position:-70px -150px;
}

.mePage #photos{
  position:absolute;
  left:1500px;
  top:847px;
  width:200px;
}

.mePage #event{
  position:absolute;
  left:1500px;
  top:747px;
  width:200px;
}
