
.mePage{
  text-align:center;
}
.meDesc{
  padding-left:10px;
  padding-right:10px;
  margin-top:100px;
  text-align:left;
  display:inline-block;
  width:1000px;
}

#meBill{
  display:inline-block;
  background-color:red;
}

#photo{
    width:200px;
}

#event{
    width:100px;
}
