.photos{
  margin: 30px;
  height: 158px;
  width: 225px;
  background-size: 280px;
  background-repeat: no-repeat;
  background-position:center;
  float: left;
}

.photosPage{
  overflow: auto;
  margin-left:200px;
  padding-right:200px;
}
