.sePage{
  text-align:center
}

#seDesc{
  width:1800px;
  text-align:left;
  display:inline-block
}

.sePage .bubble.link.sePageItem{
  margin-left:327px;
  margin-top:50px;
  line-height:50px;
  float:left;
  width:450px;
  height:50px;
}

.sePage .sePageItem.bubble:after{
  display:none;
}

.sePage #photo{
  position:absolute;
  width:200px;
  left:950px;
  top:450px;
}

.sePage #event{
  position:absolute;
  width:200px;
  left:950px;
  top:700px;
}


