.soinscompPage{
  text-align:center;
}

.soinscompDesc{
  margin-top:50px;
  display:inline-block;
}

.soinscompPage billgrid{
  display: inline-block;
  /*position:absolute;*/
  /*left:892px;*/
  /*top:400px;*/
}
