<div class="bmpPage">
  <div class="bmpDesc bubble">
    On peut avoir la plus belle teinte de vernis à ongles au monde mais cela ne servira à rien si les mains et les pieds sont négligés avec
    les cuticules qui dépassent, les ongles qui sont cassés et les mains et pieds abîmés. Alors prenez le temps de prendre soin de vos
    mains et de vos pieds. Gagnante à un concours pour la marque Beauty Nails, je vous propose un soin d’exception.
  </div>
  <br/>

  <billgrid title="Beauté des mains et des pieds" xhr="/backend/bill.php?idActivity=3" cellwidth="300"></billgrid>
<br/>
  <div class="bmpDesc bubble">
    Limage
    Travail complet des cuticules (repousse et coupe)
    Ponçage des rugosités du talon (pour la beauté des pieds)
    Modelage à l’huile de massage bio hydratante aux odeurs relaxantes
    Pose d'un vernis laque de votre choix
  </div>
</div>
