<div class="epilationsPage">
  <div class="epilationsDesc bubble">
    Comment  rendre l’utile agréable ?<br>
    Très pointilleuse sur l’hygiène, les spatules et la cire sont jetables.<br>
    Tous les autres instruments sont lavés et désinfectés avant et après<br>
    chaque client.<br>
    Pour les aisselles, le maillot et le visage j'utilise une cire<br>
    hypoallergénique jetable bio sans bande, parfaite pour les peaux<br>
    sensibles.<br>
    Pour les jambes, j’utilise une cire jetable bio avec bandes.<br>
    Votre soin est accompagné d’une musique relaxante.<br>
  </div>
  <br/>
  <billgrid id="noforfait" title="Epilations" xhr="/backend/bill.php?idActivity=5" cellwidth="300"></billgrid>

  <billgrid  id="forfait" title="Forfait épilations" xhr="/backend/bill.php?idActivity=7" cellwidth="300"></billgrid>
</div>
