<div id="title">
  Soins de bien-être
</div>
<div id="menu">
  <div ng-click="$root.clickMe()" class="item bubble link" id="me">Massage Esthétique</div>
  <div ng-click="$root.clickMath()" class="item bubble link" id="math">Maquillage artistique et tatouage Hénné</div>
  <div ng-click="$root.clickSe()" class="item bubble link" id="se">Soins Esthétiques</div>
  <div ng-click="$root.clickPhoto()" class="item bubble link" id="photos">Photos / videos</div>
  <div ng-click="$root.clickMe()" class="item bubble link" id="contact">Contactez moi !</div>
</div>
