<div class="mainPage">
    <div id="description" class="bubble">
      Bienvenue sur le site de soins et bien être <br/>
      N'hésitez pas à consulter mes <a href="/#/se">prestations et tarifs</a>.

    </div>

    <div id="event" class="bubble" >
      <div class="eventoffertitlle">
        Evenements
      </div>
      <div ng-bind="event">

      </div>
    </div>
    <div id="offer" class="bubble" >
      <div class="eventoffertitlle">
        Promotions
      </div>
      <div ng-bind="promo">

      </div>
    </div>

    <!--<div id="me" ng-click="clickMe()" class="bubble link">Massage Esthétique</div>-->
    <!--<div id="math" ng-click="clickMath()" class="bubble link">Maquillage artistique et tatouage Hénné</div>-->
    <!--<div id="se" ng-click="clickSe()" class="bubble link">Soins Esthétiques</div>-->
    <!--<div id="photos" ng-click="clickPhoto()" class="bubble link">Photos / videos</div>-->


</div>

