<div class="mainPage">
    <div id="description" class="bubble">
      Esthéticienne à domicile.<br/>
      Je me déplace chez vous du lundi au samedi sur rendez-vous à des prix très doux.<br/>
      N'hésitez pas à consulter les différentes rubriques pour plus d'informations. <br/>

    </div>

    <div id="event">Evènements</div>

    <!--<div id="me" ng-click="clickMe()" class="bubble link">Massage Esthétique</div>-->
    <!--<div id="math" ng-click="clickMath()" class="bubble link">Maquillage artistique et tatouage Hénné</div>-->
    <!--<div id="se" ng-click="clickSe()" class="bubble link">Soins Esthétiques</div>-->
    <!--<div id="photos" ng-click="clickPhoto()" class="bubble link">Photos / videos</div>-->

</div>

