<div class="mathPage">

  <div class="bubble" id="maquillage">
    <div class="maquillageTitle">Maquillage</div>
    Vous souhaitez faire plaisir à vos petits loups ?<br/>
    La dame de la forêt descendra de sa montagne pour offrir un peu de magie à vos enfants.<br/>
    Je vous propose tout type de maquillage. Les animaux, les fleurs, les super-héros, et des dessins uniques….<br/>
    Toutes leurs idées sont réalisables !<br/>
    Je travaille soit en déambulation ou sur table !<br/>
    <billgrid xhr="mock/me.json" cellwidth="300"></billgrid>
    Dans l’univers de la forêt, je suis déguisée et mon stand reflète cet univers féérique !<br/>
    Les produits sont hypoallergéniques, lavés et désinfectés avant, après chaque enfant.<br/>
  </div>

  <div class="bubble" id="tatoo">
    <div class="tatooTitle">Taouage au Hénné</div>
    Rien de mieux qu’un beau tatouage au Henné sur une peau.<br/>
    <billgrid xhr="mock/me.json" cellwidth="300"></billgrid>
    Ayant appris cet art en Inde je vous propose de vous embellir grâce à cette plante naturelle.<br/>
  </div>

  <!-- Grid -->
  <div id="photo" class="bubble link">Photos / Vidéos</div>
  <div id="event" class="bubble link">Evenements</div>

</div>
