<div class="mathPage">

  <div class="bubble" id="maquillage">
    <div class="maquillageTitle">Maquillage</div>
    Vous souhaitez faire plaisir à vos petits loups ?<br/>
    La dame de la forêt descendra de sa montagne pour offrir un peu de magie à vos enfants.<br/>
    Je vous propose tout type de maquillage. Les animaux, les fleurs, les super-héros, et des dessins uniques….<br/>
    Toutes leurs idées sont réalisables !<br/>
    Je travaille soit en déambulation ou sur table !<br/>

    Dans l’univers de la forêt, je suis déguisée et mon stand reflète cet univers féérique !<br/>
    Les produits sont hypoallergéniques, lavés et désinfectés avant, après chaque enfant.<br/>
  </div>
  <billgrid id="maquillagegrid" title="Maquillage" xhr="/backend/bill.php?idActivity=4" cellwidth="300"></billgrid>

  <div class="bubble" id="tatoo">
    <div class="tatooTitle">Taouage au Hénné</div>
    Rien de mieux qu’un beau tatouage au Henné sur une peau.<br/>

    Ayant appris cet art en Inde je vous propose de vous embellir grâce à cette plante naturelle.<br/>
  </div>
  <billgrid id="tatouagegrid" xhr="/backend/bill.php?idActivity=2" title="Taouage au Hénné" cellwidth="300"></billgrid>




</div>
