<div class="mePage">
  <div class="meDesc bubble">
    La sérénité de l’esprit passe aussi par la relaxation du corps.<br/>
    Fermez les yeux, inspirez profondément et laissez-vous aller à rêver !<br/>
    Ayant une grande expérience en massage (6 ans de formation esthétique et voyages en Inde, Népal, Thaïlande, Chine, Nouvelle-Zélande…) je vous propose des modelages personnalisés et adaptés à vos besoins.<br/>
    Massage Ayurvédique, relaxants, californiens, suédois, sportifs, thaï, réflexologie, amincissant, drainants, shiatsu,…..<br/>
    Vous serez bercé par des musiques rapportées de mes voyages.<br/>
    Je ne fais jamais le même modelage car vos besoins évoluent.<br/>
    Par exemple, vous pouvez avoir besoin en même temps d’un amincissant pour le ventre et d’un relaxant pour le dos et drainant pour vos jambes, je vous l’offre dans un même soin.<br/>
    Vous allez profiter d’un concept unique et novateur.<br/>
  </div>

  <billgrid id="meBill" xhr="mock/me.json" cellwidth="300"></billgrid>

  <div id="photo" class="bubble link">Photos / Vidéos</div>
  <div id="event" class="bubble link">Evenements</div>
</div>
