<div class="sePage">
  <div id="seDesc" class="seDesc">

    <div id="maquillageMa" ng-click="changeLocation('maquillage')" class="bubble link sePageItem">Le maquillage</div>
    <div id="" ng-click="changeLocation('math')" class="bubble link sePageItem">Tatouage au henné et maquillage esthetiques</div>
    <div id="" ng-click="changeLocation('me')" class="bubble link sePageItem">Massage esthétiques</div>


    <div id="bmpMa" ng-click="changeLocation('bmp')" class="bubble link sePageItem">La beauté des mains et des pieds</div>
    <div id="epilationMa" ng-click="changeLocation('epilations')" class="bubble link sePageItem">Les épilations</div>
    <div id="soinsMa" ng-click="changeLocation('forfait')" class="bubble link sePageItem">Forfait Epilations</div>
    <div id="soinsMa" ng-click="changeLocation('soinscomp')" class="bubble link sePageItem">Les soins complémentaires</div>


  </div>

</div>
