<div class="sePage">
  <div id="seDesc" class="seDesc">

    <div id="bmpMa" class="bubble link sePageItem">La beauté des mains et des pieds</div>
    <div id="epilationMa" class="bubble link sePageItem">Les épilations</div>
    <div id="maquillageMa" class="bubble link sePageItem">Le maquillage</div>
    <div id="soinsMa" class="bubble link sePageItem">Les soins complémentaires</div>

  </div>
  <div id="photo" class="bubble link">Photos / Vidéos</div>
  <div id="event" class="bubble link">Evenements</div>
</div>
